@charset "UTF-8";

html {
    height: 100%;
}

body {
    height: 100%;
    background: #186AC9;
}

section {
    background-color: #ccd8ff;
    padding: 50px 0;
}

div {
    width: 100px;
    height: 100px;
    background-color: #4773ff;
    margin: 0 auto;
}
