@charset "UTF-8";

html {
    height: 100%;
}

/* @extends('layouts.logout')layoutsの中のlogout.blade.phpのbodyに反応している */
body {
    height: 100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #f7ff00 0%, #3a7bd5 60%);
}


h1 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

section {
    background-color: #ccd8ff;
    padding: 50px 0;
}

/* div {
    position: absolute;
    right: 675px;
    width: 100px;
    height: 100px;
    background-color: #4773ff;
    margin: 0 auto;
} */

p {
    height: 100px;
    margin: 0 auto;
    color: aliceblue;
    font-size: large;
    text-align: center;
}

header {
    text-align: center;
}

header p {
    font-size: 170%;
    width: 100%;
}

label {
    color: aliceblue;
    width: 117px;
}

/* 画像 */
header img {
    width: 10%;
}

.form-control {
    width: 250px;
}

.login {
    position: absolute;
    right: 37%;
    margin: 0 auto;
    padding: 40px;
    border-radius: 20px;
    background: rgba(51, 112, 121, 0.4);
}

a {
    color: #fff;
}
