@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

ul {
    background-color: #ffffff;
    line-height: 32px;
    margin: 0;
    padding-left: 32px;
}

.arrow {
    float: right;
    padding-right: 2px;
    padding-top: 2px;
}

.expanded ul {
    display: block;
}

.collapsed ul {
    display: none;
}

.arrow-tab {
    background-color: #186AC9;
    width: 200px;
}

p {
    margin: 16px 0 0 0;
    padding-left: 8px;
}


.accordion {
    position: relative;
    width: 20%;
    border: 1px solid #0079c1;
    border-top: none;
    outline: 0;
    cursor: pointer;
}

.head {
    background: #186AC9;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
}

.button {
    border: 1px solid #186AC9;
    border-radius: 5px;
    display: block;
    position: relative;
}

.button::after {
    content: "";
    position: absolute;
    right: 25px;
    top: 38%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 8px;
    height: 8px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}


.button.open::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 45%;
}

.content {
    display: none;
    padding-left: 2.3125em;
}

.list+.list {
    border-top: 1px solid #666;
}

.list {
    background: #fff;
    padding: 8px 16px;
}

/*  ---------------------
   以下は調整用
 --------------------- */


ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    padding: 40px;
}

.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

/* li {
    list-style: none;
    border-bottom: 1px solid #000;
    display: flex;
}

.post-content {
    width: 100%;
    padding: 15px;
}

.post-content>div {
    display: flex;
    justify-content: space-between;
}

.post-name {
    margin-bottom: 10px;
} */

.card img {
    margin: 10pt;

}

.card p {
    margin: 10pt;
}

.card input {
    margin: 10pt;
}

div {
    display: block;
    margin-left: auto;
}

.inner {
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
}

.head {
    height: 12pt;
}

.inner img {
    margin: 10pt;

}

.inner p {
    margin: 10pt;
}

.inner button {
    display: block;
    margin-left: 100pt;
}

.box {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    background: #FFF;
    border: solid 3px #6091d3;
    /*線*/
    border-radius: 10px;
    /*角の丸み*/
}
